html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #eeeeee;
	color: #222831;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

	height: 100%;
	margin: 0;
}

#root {
	display: inline;
}

/* App.js */
.App {
	background-color: #eeeeee;
	color: #222831;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;

	display: flex;
	flex-flow: column;
	height: 100%;
}

/* Pricipais Divs */
header {
	background-color: #222831;
	color: #eeeeee;
	padding: 2% 12%;

	flex: 0 1 auto;
}

#lists {
	padding: 3% 20%;

	flex: 1 1 auto;
}

footer {
	font-size: 1rem;
	background-color: #222831;
	color: #eeeeee;
	padding: 2% 12%;
	text-align: center;

	flex: 0 1 auto;
	
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; */
}

/* Header */
.titulo {
	font-family: "Ubuntu", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
	padding: 2% 10px;
}

.titulo:hover {
	color: inherit;
	text-decoration: none;
}

/* Links */
.edit-mode-btn {
	/*visibility: hidden;*/
	font-size: 0.7rem;
	margin: auto 3px;
}

.delete-btn {
	/* display: inline; */
	float: right;
}

.edit-link-btn {
	color: #00adb5;
	border: #00adb5 solid 1px;
	float: right;
}

.edit-link-btn:hover {
	background-color: #00adb5;
	color: #eeeeee;
}

.add-link-btn {
	color: #00adb5;
	border: #00adb5 solid 1px;
	margin: 5px;
}

.add-link-btn:hover {
	background-color: #00adb5;
	color: #eeeeee;
}

.edit-btn {
	font-size: 0.7rem;
	color: #00adb5;
	border: #00adb5 solid 1px;

	margin: auto 5px;

	float: right;
}

.edit-btn:hover {
	background-color: #00adb5;
	color: #eeeeee;
}

.reset-btn {
	font-size: 0.7rem;
	color:#dc3545;
	border:#dc3545 solid 1px;

	margin: auto 5px;

	float: right;
}

.reset-btn:hover {
	background-color:#dc3545;
	color: #eeeeee;
}

.item-ico {
	width: 30px;
	height: 30px;
}

.item-txt {
	padding-left: 10px;
	font-weight: bold;
	color: #222831;
}

.item-txt:hover {
	text-decoration: none;
	color: #00adb5;
}

.nav-link {
	font-weight: bold;
}

.list-group-item {
	background-color: #eeeeee;
}

.nav-pills > a {
	background-color: #eeeeee;
	color: #222831;
	}
	
.nav-pills > a:hover {
	background-color: #eeeeee;
	color: #00adb5;
	}
	
.nav-pills .nav-link.active {
	background-color: #00adb5;
	color: #eeeeee;
	}

/* Footer */
.rodape {
	color: inherit;
	text-decoration: none;
}

.rodape:hover {
	color: #00adb5;
	text-decoration: none;
}

/* Novo Link Form */
.popup-overlay {
	background-color:  rgba(0, 0, 0, 0.7);
}

.popup-content {
	width: 60%;
}

.form-div {
	text-align: center;
	background-color: #eeeeee;
	border:#00adb5 solid 1px;
	padding: 15px;
}

.form-div input {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.form-group .col-sm-10 {
	
	padding-right: 7%;
}

.send-form-button {
	color: #00adb5;
	border: #00adb5 solid 1px;
}

.send-form-button:hover {
	background-color: #00adb5;
	color: #eeeeee;
}

/* Responsividade */
@media (max-width: 1280px) {
	.App {
		font-size: 1rem;
	}

	#lists {
		padding: 2% 12%;
	}

	.popup-content {
		width: 80%;
	}
}

@media (max-width: 768px) {
	header {
		padding: 2% 15%;
	}

	.edit-mode-btn {
		font-size: 0.6rem;
	}
	
	#lists {
		font-size: 0.9rem;
		padding: 3% 5%;
	}

	footer {
		font-size: 0.9rem;
	}

	.titulo {
		font-size: 2rem;
    }
}