html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #eeeeee;
	color: #222831;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

	height: 100%;
	margin: 0;
}

#root {
	display: inline;
}

/* App.js */
.App {
	background-color: #eeeeee;
	color: #222831;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

	display: flex;
	flex-flow: column;
	height: 100%;
}

/* Pricipais Divs */
header {
	background-color: #222831;
	color: #eeeeee;
	padding: 2% 12%;

	flex: 0 1 auto;
}

#lists {
	padding: 3% 15%;

	flex: 1 1 auto;
}

footer {
	background-color: #222831;
	color: #eeeeee;
	padding: 2% 12%;
	text-align: center;

	flex: 0 1 auto;
	
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; */
}

/* Header */
.titulo {
	font-family: "Ubuntu", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
	padding: 2% 10px;
}

.titulo:hover {
	color: inherit;
	text-decoration: none;
}

/* Links */
.edit-mode {
	/*visibility: hidden;*/
	font-size: 0.8rem;
}

.delete-btn {
	display: inline;
}

.item-ico {
	width: 30px;
	height: 30px;
}

.item-txt {
	padding-left: 10px;
	font-weight: bold;
	color: #222831;
}

.item-txt:hover {
	text-decoration: none;
	color: #00adb5;
}

.nav-link {
	font-weight: bold;
}

.list-group-item {
	background-color: #eeeeee;
}

.nav-pills > a {
	background-color: #eeeeee;
	color: #222831;
	}
	
.nav-pills > a:hover {
	background-color: #eeeeee;
	color: #00adb5;
	}
	
.nav-pills .nav-link.active {
	background-color: #00adb5;
	color: #eeeeee;
	}

/* Footer */
.rodape {
	color: inherit;
	text-decoration: none;
}

.rodape:hover {
	color: #00adb5;
	text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
	header {
		padding: 2% 15%;
	}
	
	#lists {
		font-size: 0.9rem;
		padding: 3% 5%;
	}

	footer {
		font-size: 0.9rem;
	}

	.titulo {
		font-size: 2rem;
    }
}